<div class="card position-relative  animated flipInY" *ngIf="carrefour">
    <img class="card-img-top img-fluid h-25" src="https://loremflickr.com/200/200/art,craft,paint" width="200" height="200" alt="">
    <div class="">
        <div class="d-block w-75 position-absolute bg-dark-op titlePosition pt-2 pl-3">
            <h5 class="card-title text-white">{{producto.nombre}}</h5>
        </div>
        <div class="d-block position-absolute pricePosition">
            <h3 class="text-white"> <span class="badge badge-danger">${{producto.precio}}</span> </h3>
        </div>
        <div class="d-block position-absolute buttonsPosition">
            <div class=" d-flex w-100  justify-content-end">
                <button class="btn mx-1 bg-lemon-op text-white d-inline-block align-self-end" (click)="addToCart(producto)"><i class="fa fa-cart-plus"></i></button>
                <button class="btn mx-1 bg-danger text-white d-inline-block align-self-end"><i class="fa fa-heart-o"></i></button>
            </div>
        </div>
    </div>
</div>


<div class="media" *ngIf="!carrefour">
    <a class="d-flex align-self-start pt-1" href="#">
        <img src="https://picsum.photos/200" width="200" alt="">
    </a>
    <div class="media-body mx-3">
        <h4>{{blog.titulo}}</h4>
        <p class="text-justify">{{blog.contenido}}</p>
    </div>
</div>