<div class="bg-darkGreen-op text-white mt-5">
    <div class="w-100 mt-5">
        <div class="row no-gutters">
            <div class="col-md-6 text-center align-self-center">
                <h5 class="my-3">
                    <strong>LittleShop</strong>
                    <br>Calle 123 55 54
                    <br>Bogotá, Colombia
                    <br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890 </h5>
                <div class="my-3 row icFa">
                    <div class="col-4">
                        <a href="https://www.facebook.com" target="_blank">
                            <i class="fa fa-3x fa-facebook-square"></i>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="https://twitter.com" target="_blank">
                            <i class="fa fa-3x fa-twitter-square"></i>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="https://www.instagram.com" target="_blank">
                            <i class="fa fa-3x fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="https://loremflickr.com/900/600/landscape">
            </div>
        </div>
    </div>
</div>