<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class=" navbar fixed-top navbar-light bg-white-low animated slideInDown">
                <a class="navbar-brand" (click)="drop=false" [routerLink]="['/']">LittleShop</a>
                <nav class="np navbar justify-content-end">
                    <a class="nav-link" (click)="drop=false" routerLinkActive="active" [routerLink]="['/about']">Nosotros</a>
                    <a class="nav-link" (click)="drop=false" routerLinkActive="active" [routerLink]="['/shop']">Shop</a>
                    <a class="nav-link" (click)="drop=false" routerLinkActive="active" [routerLink]="['/blog']">blog</a>
                    <a class="nav-link" (click)="openModal(3)">Contact</a>
                    <a class="nav-link" *ngIf="!login" (click)="openModal(2)">login</a>
                    <a class="nav-link" *ngIf="login" (click)="openModal(0)">
                        <i class="fa fa-2x fa-shopping-cart"></i>
                        <span class="badge badge-danger">{{cantidadCarrito}}</span>
                    </a>
                    <a class="nav-link" *ngIf="login" (click)="openModal(4)">
                        <i class="fa fa-2x fa-heart"></i>
                        <span class="badge badge-danger">{{cantidadwish}}</span>
                    </a>
                    <div class="nav-link" *ngIf="login" style="cursor: pointer;"> <img class="img-thumbnail rounded-circle" (mouseover)="drop=true" (click)="drop=!drop" src="https://picsum.photos/g/300/300" alt="" width="40" height="40">
                        <div class="dropdown-menu bg-white-low animated" [ngClass]="drop ? 'fadeIn d-block' : 'fadeOut'" aria-labelledby="triggerId" (mouseleave)="drop=false">
                            <a class="dropdown-item disabled text-muted disabled">Correo@Algo.com</a>
                            <a class="dropdown-item text-right" (click)="logOut()">Salir</a>
                        </div>
                    </div>
                </nav>
            </nav>
        </div>
    </div>
</div>
<app-modal [(show)]="modalDisplay" [(carrefour)]="crosroads"></app-modal>