<section class="animated fadeIn">
    <div class="container-fluid">
        <app-blank [marginRow]="true" [height]="100"></app-blank>
    </div>

    <app-title [titulo]="'Sobre Nosotros'"></app-title>

    <div class="container-fluid">
        <app-blank [marginRow]="true" [height]="190"></app-blank>
    </div>
    <div class="w-100 my-5">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img class="img-fluid" src="https://loremflickr.com/620/440/food,restaurant" alt="">
            </div>
            <div class="col-md-6 col-sm-12 text-center align-self-center py-3" style="height: 400px;">
                <h2 class="mt-4 display-3">Lorem, ipsum.</h2>
                <hr>
                <p class="lead">Lorem <em>ipsum dolor</em> sit amet consectetur adipisicing elit. Saepe delectus doloribus, voluptatum labore animi tempore cum iste eligendi <strong>consequuntur voluptatibus!</strong></p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <app-blank [marginRow]="true" [height]="200"></app-blank>
    </div>
    <div class="w-100 my-5">
        <div class="row bg-lemon-op text-white">
            <div class="col-md-6 col-12 text-center align-self-center pt-5" style="height: 400px;">
                <h2 class="mt-4 display-3">Lorem, ipsum.</h2>
                <hr>
                <p class="lead">Lorem <em>ipsum dolor</em> sit amet consectetur adipisicing elit. Saepe delectus doloribus, voluptatum labore animi tempore cum iste eligendi <strong>consequuntur voluptatibus!</strong></p>
            </div>
            <div class="col-md-6 col-12">
                <img class="img-fluid" src="https://loremflickr.com/620/440/food,restaurant" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <app-blank [marginRow]="true" [height]="300"></app-blank>
    </div>

</section>