<div class="bodyClass bg-img">
    <div class="cover-container d-flex w-100 h-100 p-3 pt-5 mx-auto flex-column">
        <header class="masthead mb-auto">

        </header>
        <main role="main" class="inner cover text-center">
            <h1 class="cover-heading">little shop page.</h1>
            <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi beatae veniam quos ipsam numquam quasi repudiandae voluptatem unde a atque, maxime officia? Velit minima necessitatibus ab nisi distinctio ratione earum.</p>
            <p class="lead">
                <a [routerLink]="[ '/shop']" class="btn btn-lg btn-secondary">start</a>
            </p>
        </main>
        <div class="mastfoot mt-auto">

        </div>
    </div>
</div>