.pointer {
    cursor: pointer;
}

.fondo {
    background: -webkit-linear-gradient(90deg, rgba(189, 247, 128, 0.7) 0, rgba(200, 226, 120, 0.7) 85%, rgba(242, 170, 162, 0.85) 98%, rgba(242, 170, 162, 0.85) 100%);
    background: -moz-linear-gradient(0deg, rgba(189, 247, 128, 0.7) 0, rgba(200, 226, 120, 0.7) 85%, rgba(242, 170, 162, 0.85) 98%, rgba(242, 170, 162, 0.85) 100%);
    background: linear-gradient(0deg, rgba(189, 247, 128, 0.7) 0, rgba(200, 226, 120, 0.7) 85%, rgba(242, 170, 162, 0.85) 98%, rgba(242, 170, 162, 0.85) 100%);
    background-position: 50% 50%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0;
    overflow-y: auto;
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s;
}

.fondo:before {
    content: " ";
    vertical-align: middle;
    height: 100%;
}

.over {
    z-index: 9999999;
}

.h-500 {
    height: 500px;
}

.bg-dark-op {
    background-color: rgba(173, 196, 112, 0.7)
}

.bg-lemon-op {
    background-color: rgba(173, 196, 112, 1);
}

.bg-darkGreen-op {
    background-color: rgb(69, 78, 44);
}

.text-lemon {
    color: rgba(173, 196, 112, 1);
}

.bg-red-op {
    background-color: rgba(245, 91, 80, 0.8)
}

.bg-img {
    background-image: url("https://loremflickr.com/1200/600/landscape");
    /* height: 100%; */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.filtros {
    border: 1px solid #000;
}

.np a {
    color: rgb(140, 158, 89);
}

.np a:hover {
    color: rgb(252, 201, 135);
    cursor: pointer;
    background-color: #fff;
}

.np .nav-link.active,
.np .show>.nav-link {
    background-color: rgba(173, 196, 112, 1);
    color: rgb(252, 255, 255);
}

a:not([href]):not([tabindex]) {
    color: rgb(140, 158, 89);
}

a:not([href]):not([tabindex]):hover {
    color: rgb(252, 201, 135);
    cursor: pointer;
}

.active {
    background: #000;
}

.icFa a {
    color: white;
}

.hr1 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(173, 196, 112, 1);
    margin: 1em 0;
    padding: 0;
}

.hr2 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(252, 201, 135);
    margin: 1em 0;
    padding: 0;
}

.titlePosition {
    top: 5%;
    right: 0;
    z-index: 100;
}

.descPosition {
    top: 30%;
    right: 0;
    left: 0;
    z-index: 100;
}

.pricePosition {
    bottom: 2.8%;
    left: 10%;
    z-index: 100;
}

.buttonsPosition {
    bottom: 2.8%;
    right: 10%;
    z-index: 100;
}

.contenedor {
    overflow: hidden;
}

.scrollDiv {
    overflow-y: scroll;
    height: 270px;
    /*background:gray;*/
    padding: 5px;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid coral;
    /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    margin: auto;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.page-item.active .page-link {
    color: white;
    background-color: rgb(140, 158, 89);
    border-color: rgb(140, 158, 89);
}

.page-item .page-link {
    color: rgb(140, 158, 89);
}

.page-link:hover {
    color: rgb(140, 158, 89);
}

.imgPro {
    top: 0;
    left: 0;
    z-index: 20;
}

.imgBlog {
    top: 0;
    left: 20;
    z-index: 20;
}

.product {
    width: 300px;
    height: 300px;
}

.blog {
    width: 200px;
    height: 200px;
}

.paginacion {
    top: -55%;
    left: 2%;
    z-index: 99999999999;
}

.paginacion2 {
    top: -60px;
    left: 90px;
    z-index: 99999999999;
}

.dropdown-menu {
    left: 65%;
    top: 105%;
    z-index: -1;
}

.navbar-brand {
    font-size: 1em;
}

.bg-white-low {
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 0.9em;
}


/* cover */


/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #fff;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: rgba(173, 196, 112, 1);
    border: .05rem solid rgba(173, 196, 112, 1);
}


/*
 * Base structure
 */

html,
body,
.bodyClass {
    height: 110%;
    background-color: #fff;
}

.bodyClass {
    display: -ms-flexbox;
    display: flex;
    color: #000;
    /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); */
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 42em;
}

.cover {
    padding: 0 1.5rem;
    color: #fff
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}